.login-form{
    box-shadow: rgba(0, 0, 0, 0.15) 0px 15px 25px, rgba(0, 0, 0, 0.05) 0px 5px 10px;
}

.form-btn{
    background-color: #4971FE;
    transition: .5s;
}
.form-btn:hover{
    background-color: #2955f5;
    color: rgb(255, 255, 255);
   
}
.logIn-title{
      color: #232628;
}
.link-text{
    color: #232628cc;
    transition: .5s;
    font-weight: 600;
    
}
.link-text:hover{
    color: #5270db;
   
    
}
.form-divider{
    background-color: #4971FE;
    height: 1px;
}