.shared-bg{
    background-color: #102127;
}
nav a{
    font-size: 15px;
    line-height: 52px;
    font-weight: 500;
    margin-right: 15px;
    padding-bottom: 8px;
}

.activeLink{
    color: #0d46ff;
    border-bottom: 2px solid #fff;
   
}